
body {
  background-color: #CBFFFA;
  margin: 0px;
}
.header {
  background-color: #00d6d6;
}
.title-row {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.instructions-title {
  display: inline;
  font-size: 27px;
  color: #3A1AA3;
  font-family: 'Comic Sans MS';
}
.instructions-row {
  margin: auto;
  width: 700px;
}
.instructions-number {
  padding-right: 20px;
  font-family: 'Trebuchet MS';
  font-size: 27px;
  color: #251169;
}
.instructions-text {
  padding: 10px;
  font-family: 'Work Sans';
  font-size: 20px;
  color: #30188F;
}
.door-row {
  text-align: center;
}
.door-frame {
  cursor: pointer;
  padding: 20px;
}
.start-row {
  margin: auto;
  width: 120px;
  height: 57px;
  font-family: 'Trebuchet MS';
  background-color: #1FF0E9;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #0F1899;
  margin-bottom: 20px;
  cursor: pointer;
}

